@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root{
    /* BG colors */

    --bg1-color: #181818;
    --bg2-color: #262626;
    --bg3-color: #373737;

    --txt1-color: #f8e343;
    --txt2-color: #ffffff;
    --txt3-color: #000000;

    /* BG colors */


    /* TEXTS : family , size , weight ... */
    --ff-rubik: 'Rubik', sans-serif;
    --ff-robotoSlab: 'Roboto Slab', serif;
    --ff-oswald: 'Oswald', sans-serif;
    --ff-mt: 'Montserrat', sans-serif;

    --fs-small: 22px;
    --fs-normal: 30px;
    --fs-big: 42px;
    --fs-large: 64px;
}    

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    letter-spacing: 1;
    line-height: 1;

    font-family: var(--ff-robotoSlab);

    /* font-size: 18px; */
}

a{
    text-decoration: none;
}

.logo{
    padding: 5px 8px;
    /* border: 2px solid #ffffff; */

    color: var(--txt1-color);

    cursor: pointer;

    position: relative;
}
.logo::before{
    content: '';

    background: var(--txt1-color);

    width: 18px;
    height: 18px;

    position: absolute;
    left: -20px;

    border-radius: 50%;
}